/* NOTIFICATION */
.note {
  display: block;
  position: absolute;
  left: -9999px;
}

.note:focus-within {
  border: 1px solid lightgrey;
  position:fixed;
  width: 100%;
  z-index:100;
  top: 100px;
  margin-right: 0px;
  animation: appear 350ms ease-in 1;
  max-width: 400px;
  display: block;
}

.redirect-cart {
  border: 1px solid lightgrey;
  padding: .7em 3em;
  border-radius: 1px;
}

.keep-shopping {
  background: #ddaa00;
  color: white;
  padding: .7em 3em;
  border-radius: 1px;
}

.redirect-cart:hover {
    cursor: pointer;
}

.keep-shopping:hover {
    cursor: pointer;
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* NOTIFICATION2 */
.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
