.order_btt {
    color: white;
    background: #ddaa00;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid lightgrey;
}

.order_btt:hover {
    cursor: pointer;
    color: #ddaa00;
    background: white;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #ddaa00;
}

/* SUBMIT BUTTON */
.spin_class {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}

.spin_btt {
  outline: none;
  text-align: center;
  width: 125px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #ddaa00;
  color: #ddaa00;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 80%;
  font-weight: bold;
  transition: all 0.25s ease;
}
.spin_btt:hover {
  color: white;
  background: #ddaa00;
}
.spin_btt:active {
  letter-spacing: 2px;
}
.spin_btt:after {
  content: "VOEG TOE";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #82AE47;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: #ddaa00;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #ddaa00;
  display: block;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
