asgiref==3.2.5
certifi==2019.11.28
chardet==3.0.4
closure==20191111
dj-database-url==0.5.0
Django==3.0.4
django-appconf==1.0.4
django-classy-tags==1.0.0
django-crispy-forms==1.9.0
django-heroku==0.3.1
geographiclib==1.50
geopy==1.21.0
gunicorn==20.0.4
idna==2.9
Pillow==7.0.0
psycopg2==2.8.5
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
stripe==2.44.0
urllib3==1.25.8
whitenoise==5.0.1
