.shoppingcart {
    width: 40px;
    height: auto;
    padding-top: .5%;
    padding-right: 1%;
    float: right;
}

.menubar a {
    display: block;
}

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.article {
    cursive;
        width: 280px;
        height: 320px;
        margin: 0 auto;
        background: lightgrey;

    display: inline-block;
    border-style: solid;
    border-color: white;
}

.add_basket {
    float: right;
    color: #5b80b2;
}

a:hover {
    cursor: pointer;
}

.add_basket {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.add_basket:hover {
    background-color: steelblue;
}

.add_remove {
      background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
}

