/*.shoppingcart {
    width: 40px;
    height: auto;
    padding-top: 1%;
    padding-right: 1%;
    float: right;
    display: inline-block;
}

.shoppingcart:hover {
  cursor: pointer;
}

.menubar a {
    display: block;
}

.article {
    width: 280px;
    height: 320px;
    margin: 0 auto;
    background: lightgrey;
    display: inline-block;
    border-style: solid;
    border-color: white;
    overflow: hidden;
}

.add_basket {
    float: right;
    color: #5b80b2;
}

a:hover {
    cursor: pointer;
}

.add_basket {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.add_basket:hover {
    background-color: steelblue;
}

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 24px 26px;
    font-size: 18px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #bfbfbf;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}

  .shoppingcart {
    padding-top: 1%;
    padding-right: 1%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  div.numberBasket {
      float: none;
      text-align: center;
      padding-left: 50px;
  }

  div.dropdown-content {
      min-width: 100%;
  }
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    float: right;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content div:hover {
    background-color: #ddd;
    color: black;
}

/* .topnav:hover~.dropdown-content {
    display: block;
}

.dropdown-content:hover, .dropdown-content:active {
    display: block;
}

.numberBasket {
    color: mediumpurple;
    font: 20px Arial, sans-serif;
    float: right;
}

.plus:hover, .minus:hover {
    cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add a gray background color and some padding to the footer
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100%
  margin: auto;
  min-height:200px;
  max-height:500px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}

body {
  background-color: red;
}
*/

.img-fluid {
      max-height: 220px;
      max-width: 180px;
      background: lightgrey;
      display: inline-block;
      border-style: solid;
      border-color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.product {
    display: inline-block;
    overflow: hidden;
    max-width: 280px;
}


/* The container */
.rad {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.rad input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rad:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rad input:checked ~ .checkmark {
  background-color: #82AE47;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rad input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rad .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#form-row:hover {
    cursor: pointer;
}

