{% extends "Base.html" %}

{% block content %}
{% load static %}

<!-- HEAD IMG SHOW -->
  <div class="hero-wrap hero-bread" style="background-color: lightgrey; padding: 50px;">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <img src="{% static 'Images/Logo.png' %}" width="300px" height="auto" style="left: 50%;">
        </div>
      </div>
    </div>
  </div>
<!-- HEAD IMG SHOW END -->

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{% static 'Images/Saskia.jpeg' %}');">
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Hallo allemaal</h2>
          </div>
        </div>
        <div class="pb-md-5">
          <p>Ik ben Saskia van Sassie’s Soulkitchen. Heleboel mensen kennen mij ook als zangeres Saskia Soulful maar nog niet als de Sas die naast haar zingen ook nog eens heerlijke broodjes verkoopt!

Al een aantal jaren speelde ik met het idee om een foodtruck te beginnen omdat ik iedereen wilde laten genieten van een echte Surinaamse keuken en net even iets anders. Dus niks standaards.</p>
          <p>De truck laat nog even op zich wachten maar mijn paps kwam met het geweldige idee om broodjes te gaan bezorgen bij bedrijven. Samen met mijn ouders hebben wij een menu samengesteld en besloten om ook iedere week een broodje van de week te maken dat net even anders is maar toch met een little touch of soul. Het is iedere keer weer verrassend!</p>
          <p><a href="#" class="btn btn-primary">Bestel nu</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="pb-md-5">
        <h2 class="mb-4">Enjoy!</h2>
        <p>Het begin is gemaakt en ik hoop dat jullie net zo heerlijk zullen genieten van onze keuken zoals ik dat elke dag ervaar als ik bij mijn ouders ben.</p>
        <p>Veel liefs en tot gauw bij Sassie’s Soulkitchen.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
