<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Sassies Soulkitchen</title>
    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static 'Images/People.png' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" type="text/css">
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{% static 'JS/javascript.js' %}"></script>

</head>
<body>

    {% block content %}{% endblock %}

    <!––Footer––>
    <footer></footer>

</body>
</html>
