<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Sassies Soulkitchen</title>
    {% load static %}

    <!-- TEMPLATE NEEDED IMPORTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <link rel="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>

    <!-- MY IMPORTS -->
    <link rel="shortcut icon" type="image/png" href="{% static 'Images/People.png' %}"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{% static 'JS/myScripts/FrontendFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/myScripts/BackendFunctions.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/myScripts/CssStyles.js' %}"></script>

    <link rel="stylesheet" href="{% static 'CSS/myStyles/cart.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/myStyles/categories.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/myStyles/general.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/myStyles/notification.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/myStyles/products.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/myStyles/submit-button.css' %}" type="text/css">

    <!-- CSS IMPORTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'CSS/css/open-iconic-bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/animate.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/owl.theme.default.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/aos.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/ionicons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/bootstrap-datepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/jquery.timepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/icomoon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/css/style.css' %}" type="text/css">

</head>
<body>

  <!-- HEADER -->
  <header>
    <body class="goto-here">
    	<div class="py-1 bg-primary">
      	<div class="container">
      		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
        		<div class="col-lg-12 d-block">
    	    		<div class="row d-flex">
    	    			<div class="col-md pr-4 d-flex topper align-items-center">
    				    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
    					    <span class="text">06- 39 19 16 80</span>
    				    </div>
    				    <div class="col-md pr-4 d-flex topper align-items-center">
    				    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
    					    <span class="text">info@sassies-soulkitchen.nl</span>
    				    </div>
    				    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
    					    <span class="text">Donderdag en vrijdag bezorging</span>
    				    </div>
    			    </div>
    		    </div>
    	    </div>
    	  </div>
      </div>

      <!-- MENUBAR -->
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">Sassies soulkitchen</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span style="font-size: 25px; padding-top: 10px;">&#9776;</span>
          </button>

          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/menu/" class="nav-link">Menu</a></li>
              <li class="nav-item"><a href="/about/" class="nav-link">Info</a></li>
              <li class="nav-item" id="basket_icon"><a class="nav-link" href="/order/" id="bg_cart"><span class="icon-shopping-cart f25"><span id="cart_amount" class="f20">0</span></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <!-- HEADER END -->

  <!-- CONTENT -->
  {% block content %}{% endblock %}

  <!-- Keeps basket updated on page change -->
  <script>
    updateBasket()
  </script>

  <!-- FOOTER -->
  <footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row">
        <div class="mouse">
          <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
          </a>
        </div>
      </div>
      <div class="row mb-5">

        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Bij een probleem of vraag</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Hoogoorddreef 15, 1101BA</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">06- 39 19 16 80</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@sassies-soulkitchen.nl</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

            <a class="fa fa-instagram" href="https://www.instagram.com/jaden.vr/"></a>
            <a class="fa fa-github" href="https://github.com/Jaden505/FirstApp"></a>
            <p>Made by Jaden van Rijswijk</p>

        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER END -->

  <!-- JS IMPORTS -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="{% static 'JS/js/jquery.min.js' %}"></script>
  <script src="{% static 'JS/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'JS/js/popper.min.js' %}"></script>
  <script src="{% static 'JS/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'JS/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'JS/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'JS/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'JS/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'JS/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'JS/js/aos.js' %}"></script>
  <script src="{% static 'JS/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'JS/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'JS/js/scrollax.min.js' %}"></script>
  <script src="{% static 'JS/js/main.js' %}"></script>

</body>
</html>
