{% load static %}
{% load crispy_forms_tags %}

<!-- MY IMPORTS -->
<link rel="shortcut icon" type="image/png" href="{% static 'Images/People.png' %}"/>
<link rel="stylesheet" href="{% static 'CSS/styles.css' %}" type="text/css">
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'JS/javascript.js' %}"></script>

<style>
  body {
    font-size:20px;
  }
  button {
    font-size:15px;
    background-color: steelblue;
    color: white;
  }
</style>


<form action="/charge" method="post" id="payment-form">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form>

<script>
  Payment('{{payment}}', '{{public_key}}')
</script>
