{% extends "Base.html" %}

{% block content %}
<a onclick="goBack()"><u>Go back</u></a>

<form id="payment-form">

  <div class="form-row">
    <!--
      Using a label with a for attribute that matches the ID of the
      Element container enables the Element to automatically gain focus
      when the customer clicks on the label.
    -->
    <label for="ideal-bank-element">
      iDEAL Bank
    </label>
    <div id="ideal-bank-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
  </div>

  <button>Submit Payment</button>

  <!-- Used to display form errors. -->
  <div id="error-message" role="alert"></div>
</form>

<script>
  Payment('{{payment}}', '{{public_key}}')
</script>

{% endblock %}
