{% load static %}

<!-- LOOPS AND DISPLAYS PRODUCTS IN SHOPPING CART -->
<script>
    function removeChangedProducts(products, result) {
        var titles = []

        for (product in products) {
            titles.push(products[product]['fields']['title'])
        }

        for (item in result) {
            if (titles.includes(item) == false) {removeProduct(item)}
        }
    }

    function createProducts(products) {
        var result = JSON.parse(localStorage.getItem("basket"))
        var many = JSON.parse(localStorage.getItem("amounts"))
        var holder = document.querySelectorAll(".products_holder")[0]

        holder.innerHTML = ''

        for (product in products) {

            if (products[product]['fields']['title'] in result) {
                title = products[product]['fields']['title']
                price = products[product]['fields']['price']

                image_urls = JSON.parse(localStorage.getItem("image_urls"))
                for (var url_title in image_urls) {
                   if (url_title == title) {img = image_urls[url_title]}
                }

                basket_display = (`
                        <!-- TR -->
                          <tr class="text-center">
                            <td class="product-remove"><a onclick="removeProduct('${ title }');totalAmount();updateAmount();updateBasket()"><span class="ion-ios-close"></span></a></td>

                            <td class="image-prod"><div class="img" style="background-image: url(${img})"></div></td>

                            <td class="product-name">
                                <h3>${title}</h3>
                            </td>

                            <td class="price">€${price}</td>

                            <td class="quantity">
                                <div class="input-group mb-3">
                                    <input type="number" name="quantity" class="quantity form-control input-number" value="${ many[title] }" min="1" max="12" onchange="changeAmount('${title}', '${price}', this.value);totalAmount();updateAmount()">
                                </div>
                              </td>

                            <td class="total_product">
                                €${currency(result[title])}
                            </td>
                          </tr>

                          <div class="separator_line"></div>

                          <!-- END TR-->
                  `)

          holder.innerHTML += basket_display
            }
        }
    }

    function Create() {
        var bvdw = safelyParseJSON('{{ bvdw|escapejs }}')
        var products = safelyParseJSON('{{ products|escapejs }}')
        var all_products = products.concat(bvdw)

        var result = JSON.parse(localStorage.getItem("basket"))

        removeChangedProducts(all_products, result)
        createProducts(all_products)
    }

    function checkCodes(input_code) {
        codes = safelyParseJSON('{{ coupons|escapejs }}')
        for (code in codes) {
            if (codes[code]['fields']['code'] == input_code) {
                couponSuccess(input_code, codes[code]['fields']['discount'])
                return
            }
        }
        couponError()
    }

    function tryCheckout() {
        coupon_code = localStorage.getItem("couponcode")
        total = totalAmount()

        if (total > 10) {
                // Goes to amount url and gives amount to payment page (handled in views)

                setTimeout(function(){ Payment('{{payment}}', '{{public_key}}') }, 3000);
        }
        else {
            // Give notification
            location.href = "/order/"
        }

        // Returns false so when function called first checks if form submitted
        return false
    }
</script>
