{% extends "Base.html" %}

{% block content %}
{% load static %}

  <!-- SLIDESHOW -->
  <section id="home-section" class="hero">
    <div class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url('{% static 'Images/Meals/Pom.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate text-center">
              <h1 class="mb-2">Surinaamse broodjes</h1>
              <h2 class="subheading mb-4">Lokale broodjes bestellen</h2>
              <p><a href="/menu/" class="btn btn-primary">Bekijken</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'Images/Meals/BroodjePom.png' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">Altijd welkom</h1>
              <h2 class="subheading mb-4">Hoe we de broodjes maken</h2>
              <p><a href="/about/" class="btn btn-primary">Over ons</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- STICKERS -->
  <section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
        <div style="padding-left: 150px;"></div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-shipped"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Gratis bezorging</h3>
              <span>Bij bestelling boven €100</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-diet"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Altijd vers</h3>
              <span>Vers gemaakte broodjes</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-award"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Goede kwaliteit</h3>
              <span>Lekker Surinaams</span>
            </div>
          </div>
        </div>
      </div>
		</div>
	</section>

	<section class="ftco-section ftco-category ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 order-md-last align-items-stretch d-flex">
							<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url();">
								<div class="text text-center">
									<h2>Broodjes</h2>
									<p>Altijd lekker</p>
									<p><a href="/menu/" class="btn btn-primary">Nu bestellen</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/PomRijst.jpg' %}');">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="/menu/">Surinaamse kip</a></h2>
								</div>
							</div>
							<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/BroodjeKip.jpg' %}');">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="/menu/">Broodjes</a></h2>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/Drinken.jpg' %}');">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="/menu/">drinken</a></h2>
						</div>
					</div>
					<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/Peper.jpg' %}');">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="/menu/">Extra's</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- PRODUCTEN -->
  <section class="ftco-section">
  	<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h2 class="mb-4">Onze producten</h2>
          <span class="subheading">Top producten</span>
        </div>
      </div>
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-1.jpg" alt="Colorlib Template">
  						<span class="status">30%</span>
  						<div class="overlay"></div>
  					</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Bell Pepper</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
	    					</div>
    					</div>
    					<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-2.jpg" alt="Colorlib Template">
  						<div class="overlay"></div>
  					</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Strawberry</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span>$120.00</span></p>
	    					</div>
    					</div>
  						<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-3.jpg" alt="Colorlib Template">
    					<div class="overlay"></div>
    				</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Green Beans</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span>$120.00</span></p>
	    					</div>
    					</div>
  						<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-4.jpg" alt="Colorlib Template">
  						<div class="overlay"></div>
  					</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Purple Cabbage</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span>$120.00</span></p>
	    					</div>
    					</div>
  						<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>


  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-5.jpg" alt="Colorlib Template">
  						<span class="status">30%</span>
  						<div class="overlay"></div>
  					</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Tomatoe</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
	    					</div>
    					</div>
    					<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-6.jpg" alt="Colorlib Template">
  						<div class="overlay"></div>
  					</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Brocolli</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span>$120.00</span></p>
	    					</div>
    					</div>
  						<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-7.jpg" alt="Colorlib Template">
    					<div class="overlay"></div>
    				</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Carrots</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span>$120.00</span></p>
	    					</div>
    					</div>
  						<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6 col-lg-3 ftco-animate">
  				<div class="product">
  					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-8.jpg" alt="Colorlib Template">
  						<div class="overlay"></div>
  					</a>
  					<div class="text py-3 pb-4 px-3 text-center">
  						<h3><a href="#">Fruit Juice</a></h3>
  						<div class="d-flex">
  							<div class="pricing">
	    						<p class="price"><span>$120.00</span></p>
	    					</div>
    					</div>
  						<div class="bottom-area d-flex px-3">
    						<div class="m-auto d-flex">
    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
    								<span><i class="ion-ios-menu"></i></span>
    							</a>
    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
    								<span><i class="ion-ios-cart"></i></span>
    							</a>
    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
    								<span><i class="ion-ios-heart"></i></span>
    							</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>

  <!-- BROODJE VAN DE WEEK -->
	<section class="ftco-section img">
  	<div class="container">
		<div class="row justify-content-end" style="padding-right: 100px;">
        <img src="{% static 'Images/Meals/Nasi.jpg' %}" alt="Broodje van de week" style="max-width: 400px; height: auto;">
        <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate" style="background-color: #f5f5f0;">
          <h2 class="mb-4">Broodje van de week</h2>
          <p>Ons broodje van de week, is onze lekkerste en meest verkochten product van de week.</p>
          <h3><a href="shop.html">Broodje</a></h3>
          <span class="price">Nu voor maar €10</span>
        </div>
      </div>
  	</div>
  </section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
        	<span class="subheading">Altijd welkom</span>
          <h2 class="mb-4">Lokale Surinaams bezorging</h2>
          <p>Hoe fijn is het dat je niet hoeft op te staan en er Surinaams naar je deur wordt geleverd. Wij proberen de klant altijd tevreden te houden</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
