{% extends "Base.html" %}

{% block content %}
{% load static %}

  <!-- SLIDESHOW -->
  <section id="home-section" class="hero">
    <div class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url('{% static 'Images/Meals/Pom.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate text-center">
              <h1 class="mb-2">Surinaamse broodjes</h1>
              <h2 class="subheading mb-4">Lokale broodjes bestellen</h2>
              <p><a href="/menu/" class="btn btn-primary">Bekijken</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('{% static 'Images/Meals/BroodjePom.png' %}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">Altijd welkom</h1>
              <h2 class="subheading mb-4">Hoe we de broodjes maken</h2>
              <p><a href="/about/" class="btn btn-primary">Over ons</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- STICKERS -->
  <section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
        <div style="padding-left: 150px;"></div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-shipped"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Gratis bezorging</h3>
              <span>Bij bestelling boven €100</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-diet"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Altijd vers</h3>
              <span>Vers gemaakte broodjes</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
          		<span class="flaticon-award"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Goede kwaliteit</h3>
              <span>Lekker Surinaams</span>
            </div>
          </div>
        </div>
      </div>
		</div>
	</section>

	<section class="ftco-section ftco-category ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-8" style="margin-left: 2%;">
					<div class="row">

						<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/PomRijst.jpg' %}'); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 50%;">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="/menu/">Surinaamse kip</a></h2>
								</div>
							</div>
							<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/BroodjeKip.jpg' %}'); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 50%;">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="/menu/">Broodjes</a></h2>
								</div>
							</div>
						</div>

				<div class="col-md-6">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/Drinken.jpg' %}'); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 50%;">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="/menu/">drinken</a></h2>
						</div>
					</div>
					<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static 'Images/Meals/Peper.jpg' %}'); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 50%;">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="/menu/">Extra's</a></h2>
						</div>
					</div>
				</div>

                </div>
			</div>
		</div>
	</section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
        	<span class="subheading">Altijd welkom</span>
          <h2 class="mb-4">Lokale Surinaams bezorging</h2>
          <p>Hoe fijn is het dat je niet hoeft op te staan en er Surinaams naar je deur wordt geleverd. Wij proberen de klant altijd tevreden te houden</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
