{% extends "Base.html" %}
{% load static %}

{% block content %}

    <div class="menubar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/menu">Menu</a>
    </div>

    <a href="/order">
        <input type="image" src="{% static 'Images/ShoppingCart.png' %}" alt="Shopping cart" class="shoppingcart">
    </a>

    <div class="products">
        {% for product in products %}
            <div class="article">
                <a class="add_basket" onclick="addBasket('{{product.title}}', '{{product.price}}')">+</a>
                <br>
                <h2>{{ product.title }}</h2>
                <img src="{{ product.image.url }}" width="100px" height="150">
                <p>{{ product.description }}</p>
                <p1>€{{ product.price }}</p1>
                <br>
            </div>
        {% endfor %}
    </div>

    <div id="basket"></div>

    <button onclick="emptyBasket()">Empty basket</button>

    <script>
        var stored = localStorage.getItem("basket")
        var result = JSON.parse(stored)

        console.log(result)

        totalAmount(result)
        updateBasket()
    </script>

{% endblock %}
