{% extends "Base.html" %}
{% load static %}

{% block content %}
  <!-- HEAD IMG SHOW -->
  <div class="hero-wrap hero-bread" style="background-image: url('{% static 'Images/Eettent.jpg' %}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread">Menu</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- HEAD IMG SHOW END -->

  <!-- CATEGORIES -->
  <section class="ftco-section" style="padding-bottom: 0px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 mb-5 text-center">
          <ul class="product-category">

            <div class="radio-toolbar" onclick="displayCategory()">
              <input type="radio" id="radio1" name="radios" value="all" checked>
              <label for="radio1">Alles</label>

              <input type="radio" id="radio2" name="radios" value="false">
              <label for="radio2">Broodjes</label>

              <input type="radio" id="radio3" name="radios" value="true">
              <label for="radio3">Drinken</label>

              <input type="radio" id="radio4" name="radios" value="true">
              <label for="radio4">Extra's</label>
            </div>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <div id="categories" style="padding: 10%;">
      <div id="bvdw" style="width: 100%;">
          <p class="cat_name">Broodje van de week</p>
      </div>
      <br>
      <div id="broodjes" style="width: 100%;">
          <p class="cat_name">Broodjes</p>
      </div>
      <br>
      <div id="drinken" style="width: 100%;">
          <p class="cat_name">Drinken</p>
      </div>
      <br>
      <div id="extras" style="width: 100%;">
          <p class="cat_name">Extra's</p>
      </div>
      <br>
  </div>
  <!-- END CATEGORIES -->

    <!-- NOTIFICATION -->
    <dialog class="note" tabindex="0" style="outline:none; border:1px solid #ccc;">
      <p>Toegevoegd aan winkelmandje!</p>

      <label class="keep-shopping" onclick="hideNotificationDisplay()">Verder kijken</label>
      <label class="redirect-cart"><a href="/order/" style="color: black;">Bestellen</a></label>
    </dialog>

  <div class="row">
  {% for product in products %}
        <!-- PRODUCT -->
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="product" style="display: inline-block;">
            <a class="img-prod" onclick="addBasket('{{product.title}}', '{{product.price}}');Animate('{{product.title}}');showNotificationDisplay()">
              <img class="img-fluid" src="{{ product.image.url }}" alt="Colorlib Template" style="height: 15vh; width: auto;">
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a onclick="addBasket('{{product.title}}', '{{product.price}}');Animate('{{product.title}}');showNotificationDisplay()" class="title">{{ product.title }}</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p><span class="price">€{{ product.price }}</span></p>
                </div>
              </div>
              <div class="bottom-area d-flex">
                <div class="m-auto d-flex">
                  <a class="{{product.title}}" onclick="addBasket('{{product.title}}', '{{product.price}}');Animate('{{product.title}}');showNotificationDisplay()">
                    <div class="spin_class" style="background-color: white;">
                      <button class="spin_btt" style="text-decoration:none; outline:none;"></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END-PRODUCT -->

    <script>
      if (localStorage.getItem("image_urls") == null) {localStorage.setItem("image_urls", JSON.stringify({}))}

      image_urls = JSON.parse(localStorage.getItem("image_urls"))
      image_urls["{{product.title}}"] = "{{product.image.url}}"
      localStorage.setItem("image_urls", JSON.stringify(image_urls))

      Categorize('{{product.category}}')
    </script>
  {% endfor %}

  {% for broodje in bvdw %}

  <!-- BROODJE VAN DE WEEK -->
  <div class="store-offer-item shadow-box product" id="product_bvdw">
    <div class="store-thumb-link">
      <div class="offer-image">
          <img src="{{ broodje.image.url }}">
      </div>
    </div>
    <div class="latest-coupon">
      <h3 class="coupon-title" style="color: #87AE42;">Nu {{ broodje.title }} voor maar €{{ broodje.price }}</h3>
      <div class="coupon-des">
        Dit is de aanbieding van de week. <span id="des-more12" class="des-more">... <a role="button" data-toggle="collapse" href="#seemore12" aria-expanded="false" aria-controls="seemore12">More <i class="glyphicon glyphicon-menu-down"></i></a></span>
        <div class="coupon-des-full collapse" id="seemore12">Elke week hebben we een nieuwe aanbieding van wat volgens de klaten ons besten product is.</div>
      </div>
   </div>
    <div class="coupon-detail coupon-button-type">
      <p class="coupon-deal coupon-button order_btt" onclick="addBasket('{{broodje.title}}', '{{broodje.price}}');showNotificationDisplay()">Voeg toe <i class="shop icon"></i></p>
    </div>
  </div>

    <script>
      if (localStorage.getItem("image_urls") == null) {localStorage.setItem("image_urls", JSON.stringify({}))}

      image_urls = JSON.parse(localStorage.getItem("image_urls"))
      image_urls["{{broodje.title}}"] = "{{broodje.image.url}}"
      localStorage.setItem("image_urls", JSON.stringify(image_urls))

      Categorize('bvdw')
    </script>
  {% endfor %}

  </div>

  <br><br><br><br>

{% endblock %}
