{% extends "Base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- HEAD IMG SHOW -->
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'Images/Eettent.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2">Winkel</span></p>
            <h1 class="mb-0 bread">Winkelmandje</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- PRODUCTS -->
    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
							  <tr>
						        <th>&nbsp;</th>
								<th>&nbsp;</th>
						        <th>Product</th>
						        <th>Prijs</th>
						        <th>Aantal</th>
						        <th>Totaal</th>
						      </tr>
						    </thead>
						    <tbody class="products_holder">

							  {% include 'functionImport.html' %}

						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
            <!-- END PRODUCTS -->

				<button class="order_btt" onclick="emptyBasket()">Leeg winkelmandje</button>

			<hr>

			<!-- FORM -->
			  <form onsubmit="return tryCheckout()" method="post" class="form_inputs" style="float: left; color: black;" id="inputs_form">
				{% csrf_token %}
				{% crispy form %}
			  </form>

            <!-- COUPON -->
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3" style="float: left; min-width: 300px;">
						<h3>Coupon Code</h3>
    					<p>Enter your coupon code if you have one</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Coupon code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="" onchange="checkCodes(this.value)">
					<p id="coupon_error" style="color: red;"></p>
					<p id="coupon_success" style="color: green;"></p>
	              </div>
	            </form>
    				</div>
    				<p class="order_btt"><a class="btn btn-primary py-3 px-4">Voeg Coupon</a></p>
    			</div>

				<div style="padding-right: 100px;"></div>

                <!-- PAYMENT -->
				<form id="payment-form">
				  <div class="form-row">
					<!--
					  Using a label with a for attribute that matches the ID of the
					  Element container enables the Element to automatically gain focus
					  when the customer clicks on the label.
					-->
					<h2>
					  <label for="ideal-bank-element">
					  </label>
					</h2>

					<hr>

					<div id="ideal-bank-element">
					  <!-- A Stripe Element will be inserted here. -->
					</div>
				  </div>

				  <!-- Used to display form errors. -->
				  <div id="error-message" role="alert"></div>
				</form>

                <!-- TOTAL -->
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate" style="float: left; min-width: 300px;">
    				<div class="cart-total mb-3">
    					<h3>Kosten</h3>
    					<p class="d-flex">
    						<span>Subtotaal</span>
    						<span id="subtotal">€0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Bezorgkosten</span>
    						<span>€4.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Korting</span>
    						<span id="discount">€0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span id="total_basket">€0.00</span>
    					</p>
    				</div>
					<input type="submit" value="Ga naar afrekenen" class="btn btn-primary py-3 px-4 order_btt" form="inputs_form"/>
    			</div>
    		</div>
			</div>
		</section>

	<br><br>

	<script>
		totalAmount()
	</script>

{% endblock %}
