.img-fluid {
      max-height: 220px;
      min-height: 220px;
      max-width: 180px;
      min-width: 180px;
      background: white;
      display: inline-block;
      border-style: solid;
      border-color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

#basket_icon:hover {
    cursor: pointer;
}

.product {
    display: inline-block;
    overflow: hidden;
    max-width: 380px;
}

/* CATEGORIES */
.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  padding: 6px 17px;
  font-family: Arial;
  font-size: 24px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #82AE47;
  color: white;
    border-radius: 10px;
}

.cat_name {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      background-color: #82AE47;
      color: white;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
      padding-left:2em;
      font-weight: bold;
}

/* BASIC STYLING */
#categories {
    padding-left: 200px;
    padding-right: 200px;
}

#basket > div {
      text-align: center;
      margin: auto;
      min-width: 60%;
}

#total {
    text-align: center;
    color: #82AE47;
}

i:hover {
    cursor: pointer;
}

.form_inputs {
    width: 40%;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

#ideal-bank-element > div {
    max-width: 200px;
}

.order_btt {
    color: white;
}

.order_btt:hover {
    color: #82AE47;
}

/* SUBMIT BUTTON */
.spin_class {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}

.spin_btt {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #ddaa00;
  color: #ddaa00;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.25s ease;
}
.spin_btt:hover {
  color: white;
  background: #ddaa00;
}
.spin_btt:active {
  letter-spacing: 2px;
}
.spin_btt:after {
  content: "VOEG TOE";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #82AE47;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: #ddaa00;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #ddaa00;
  display: block;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* NOTIFICATION */
#note {
    position: sticky;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 3;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    display: none;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}

@media screen and (max-width: 1200px) {
    .trs {
        float: left;
        padding-left: 150px;
     }
     .products_holder {
        display: inline-block;
        float: left;
     }
}
