.img-fluid {
      max-height: 220px;
      min-height: 220px;
      max-width: 180px;
      min-width: 180px;
      background: white;
      display: inline-block;
      border-style: solid;
      border-color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

#basket_icon:hover {
    cursor: pointer;
}

.product {
    display: inline-block;
    overflow: hidden;
    max-width: 380px;
}

/* CATEGORIES */
.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  padding: 6px 17px;
  font-family: Arial;
  font-size: 24px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #82AE47;
  color: white;
    border-radius: 10px;
}

.cat_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #82AE47;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
  padding-left:2em;
}

/*
.cat_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
  padding-left:2em;
  background-color: #e6e1dd;
  color: #204a56;
}
/*

/* DROPDOWN BASKET */
.dropdown-content {
  position: sticky;
  float: right;
  display: none;
  z-index: 20000;
  left: 0;
  top: 55px;
  max-width: 350px;
  max-height: 450px;
  overflow: auto;

  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.basket-header {
  padding: 2px 16px;
  background-color: #82AE47;
  color: white;
}

.basket-header > h2 {
  color: white;
}

#basket {padding: 2px 16px;}

.dropdown-footer {
  padding: 2px 16px;
  background-color: #82AE47;
  color: white;
}


/* BASIC STYLING */
#categories {
    padding-left: 200px;
    padding-right: 200px;
}

#basket > div {
      text-align: center;
      margin: auto;
      min-width: 60%;
}

#total {
    text-align: center;
    color: #82AE47;
}

i:hover {
    cursor: pointer;
}

.form_inputs {
    width: 40%;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

#ideal-bank-element > div {
    max-width: 200px;
}

.order_btt {
    color: white;
}

.order_btt:hover {
    color: #82AE47;
}

/* SUBMIT BUTTON */
.spin_class {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}

.spin_btt {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #82AE47;
  color: #82AE47;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.25s ease;
}
.spin_btt:hover {
  color: white;
  background: #82AE47;
}
.spin_btt:active {
  letter-spacing: 2px;
}
.spin_btt:after {
  content: "VOEG TOE";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #82AE47;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #82AE47;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #82AE47;
  display: block;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
